In [1]:
import pandas as pd
import numpy as np

In [2]:
# 발전전력량추이 -> electric
electric = pd.read_csv('data/발전전력량추이.csv', encoding='cp949')

In [5]:
# 발전설비추이 인덱스 중 (증감률) 행 전부 삭제
gradient_e = electric[electric['년  월'].str.contains('(증감률)')].index
electric.drop(gradient_e, inplace=True)
electric.head(3)

C:\Users\admin\AppData\Local\Temp\ipykernel_8928\2876629949.py:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  gradient_e = electric[electric['년  월'].str.contains('(증감률)')].index

,년 월,2020.02,2020.03,2020.04,2020.05,2020.06,2020.07,2020.08,2020.09,2020.01,...,2022.05,2022.06,2022.07,2022.08,2022.09,2022.1,2022.11,2022.12,2023.01,2023.02
0,총발전량,"46,439","46,141","42,252","41,578","43,825","46,680","51,046","44,599","43,164",...,"46,181","47,587","55,027","53,964","46,308","45,742","46,223","55,570","54,116","47,712"
2,원자력,"12,690","14,463","13,689","15,258","14,069","13,721","12,526","9,293","13,468",...,"14,610","14,726","15,355","16,309","14,094","14,382","14,006","15,229","15,655","13,606"
4,석 탄,"16,244","13,750","14,870","14,668","16,312","18,828","20,431","18,348","14,284",...,"13,551","15,549","19,672","18,930","15,561","14,494","14,993","18,908","17,961","15,690"

In [7]:
# rows, columns 전환
electric = electric.T

In [8]:
# 첫번째 행을 columns으로 지정
electric = electric.rename(columns=electric.iloc[0])
electric.head(2)

           총발전량     원자력    석  탄    가  스    신재생  유  류  양  수  기  타
년  월       총발전량     원자력    석  탄    가  스    신재생  유  류  양  수  기  타
2020.02  46,439  12,690  16,244  13,770  2,670   130   320   616

In [9]:
# 첫번째 행 삭제
electric = electric.drop(electric.index[0])

In [11]:
# index 리셋
electric.reset_index(inplace=True)

In [12]:
# 컬럼명 '날짜'로 변경
electric.rename(columns={'index':'날짜'}, inplace=True)

In [14]:
# 컬럼 중 '총발전량' 삭제
electric.drop(labels=['총발전량'], axis=1, inplace=True)
electric.head(2)

        날짜     원자력    석  탄    가  스    신재생 유  류 양  수 기  타
0  2020.02  12,690  16,244  13,770  2,670  130  320  616
1  2020.03  14,463  13,750  13,503  3,368  121  302  634

In [15]:
# 2021.01 ~ 2021.12 해당 행 추출해서 새로운 데이터프레임 만들기
targets = ['2021.01', '2021.02', '2021.03', '2021.04', '2021.05', '2021.06',
                   '2021.07', '2021.08', '2021.09', '2021.1', '2021.11', '2021.12']
electric21 = electric.loc[electric['날짜'].isin(targets)]
electric21

         날짜     원자력    석  탄    가  스    신재생 유  류 양  수 기  타
11  2021.01  14,042  17,800  17,339  3,149  301  324  201
12  2021.02  12,732  14,460  13,769  3,367  148  308  189
13  2021.03  13,800  13,214  15,675  3,711  125  309  359
14  2021.04  12,551  12,862  13,452  4,038  140  319  276
15  2021.05  12,760  14,511  12,192  4,195  140  303  203
16  2021.06  11,314  16,679  13,331  3,709  174  295  286
17  2021.07  12,303  21,387  15,644  3,823  339  344  305
18  2021.08  12,780  20,860  13,791  3,638  107  318  303
19  2021.09  12,172  16,378  12,598  3,504  256  277  226
20   2021.1  13,462  15,398  13,005  3,509  248  292  233
21  2021.11  13,567  16,218  13,186  3,195  224  256  241
22  2021.12  16,532  18,201  14,396  3,506  154  338  246

In [16]:
# 인덱스 21행 -> 날짜 2021.1을 2021.10으로 수정
electric21.loc[20] = ('2021.10','13,462','15,398','13,005','3,509','248','292','233')

In [17]:
# 날짜 컬럼 . -> -로 수정
electric21['날짜'] = electric21['날짜'].str.replace('.','-')

C:\Users\admin\AppData\Local\Temp\ipykernel_8928\2772608604.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  electric21['날짜'] = electric21['날짜'].str.replace('.','-')

In [18]:
electric21.reset_index(drop=True, inplace=True)

In [20]:
electric21

         날짜     원자력    석  탄    가  스    신재생 유  류 양  수 기  타
0   2021-01  14,042  17,800  17,339  3,149  301  324  201
1   2021-02  12,732  14,460  13,769  3,367  148  308  189
2   2021-03  13,800  13,214  15,675  3,711  125  309  359
3   2021-04  12,551  12,862  13,452  4,038  140  319  276
4   2021-05  12,760  14,511  12,192  4,195  140  303  203
5   2021-06  11,314  16,679  13,331  3,709  174  295  286
6   2021-07  12,303  21,387  15,644  3,823  339  344  305
7   2021-08  12,780  20,860  13,791  3,638  107  318  303
8   2021-09  12,172  16,378  12,598  3,504  256  277  226
9   2021-10  13,462  15,398  13,005  3,509  248  292  233
10  2021-11  13,567  16,218  13,186  3,195  224  256  241
11  2021-12  16,532  18,201  14,396  3,506  154  338  246

In [21]:
# 2021발전전력량추이 data폴더에 파일 저장
electric21.to_csv('data/2021발전전력량추이.csv')